#p-content {
  padding: 32px;
}

.dl-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.dl-multicolumn {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

dt {
  padding: 2px 0;
}

.dl-flex dt {
  flex: 0 0 35%;
  overflow: hidden; /* Prevents long words in labels from causing layout to break */
}

/* Use padding rather than margin in bottom to avoid extra spacing overflowing to the top of the next column */
dd {
  padding: 2px 0;
  margin-left: 0;
}

.dl-flex dd {
  flex: 65% 0 0;
  max-width: 65%; /* Fix for IE issue in which box-sizing is not taken into account when using flex */
}

.dl-flex dd + dd {
  margin-left: 35%;
}

@media (min-width: 768px) {
  .dl-flex dt {
    flex: 0 0 20%;
  }
  .dl-flex dd {
    flex: 80% 0 0;
    max-width: 80%;
  }
  .dl-flex dd + dd {
    margin-left: 20%;
  }
}

$break-xs: 480px;
$break-md: 840px;
$break-lg: 1200px;

/*
MOBILE
*/
@media screen and (max-width: $break-xs) {
  #p-content {
    padding: 8px;
  }
}

/*
TABLET
 */
@media screen and (min-width: $break-xs) and (max-width: $break-md) {
  #p-content {
    padding: 16px;
  }
}