@import "variables";

.navbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  // overflow-y: scroll;
  height: 100vh;
  width: $navbar-width-lg;
  z-index: 99;
  // background: #b71c1c;
  color: #f2f2f2;
  @media screen and (max-width: $break-xs) {
    display: none !important;
    /*
    width: 60px;
    &:hover {
      width: 350px;
    }
    p {
      display: none;
    }
    */
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  position: absolute;
  left: $navbar-width-lg;
  width: calc(100vw - 350px);
  height: 100vh;
  @media screen and (max-width: $break-xs) {
    left: 0;
    width: 100vw;
  }
}

footer {
  position: fixed;
  bottom: 0;
  background: #222222;
  left: $navbar-width-lg;
  width: 100%;
  color: #f2f2f2;
  height: 2rem;
  line-height: 2rem;
  z-index: 30;
  @media screen and (max-width: $break-xs) {
    left: 0;
  }
}

.app[dir='rtl'] {
  .navbar {
    right: 0;
  }
  .container, footer {
    right: $navbar-width-lg;
    left: 0;
    width: calc(100vw - 350px);
    @media screen and (max-width: $break-xs) {
      right: $navbar-width-xs;
      left: 0;
      width: calc(100vw - 50px);
    }
  }
}
